/*Setting Basic Dimensions to give 
        gallary view */
.gallery {
  width: 90%;
  margin: 2rem;
  display: flex;
}
.main_view {
  width: 90%;
  border: 2px solid black;
}
.main_view img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.side_view {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.side_view img {
  width: 7rem;
  object-fit: cover;
  cursor: pointer;
  margin: 0.5rem;
}

@media all and (max-width: 880px) {
  .main_view {
    display: none;
  }
}
