/*Setting Basic Dimensions to give 
        video view */
#video {
  margin: 2rem;
}

.iframe {
  width: 90%;
  height: 10rem;
  margin-top: 3rem;
  margin-left: 5%;
  margin-bottom: 5rem;
  display: flex;
  object-fit: contain;
}
